{% extends "sesionBase.html" %}

{% block title %}
<title>Iniciar sesión</title>
{% endblock title%}

{% block content %}
<section>
    <div class="container">
        <h1>Inicia sesión</h1>
        {% for error in form.errors %}
        <div class="alert alert-danger" role="alert">
            Credenciales incorrectas
        </div>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username-id" class="form-label">Usuario</label>
                <input type="text" 
                class="form-control" 
                id="username-id" 
                name="username"
                {% if form.errors %}
                value="{{form.username.value}}"
                {% endif %}
                >
                {% for error in form.username.errors %}
                <p style="color:#ff3333 ;">{{error}}</p>
                {% endfor %}
            </div>
            <div class="mb-3">
                <label for="password-id" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password-id" name="password">
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="reset" class="btn btn-primary">Limpiar</button>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</section>
<div style="padding-top: 3rem; display: flex; justify-content: center;">
    <button type="button" onclick="window.location.replace('/')" class="btn btn-outline-primary">Regresar</button>
</div>
{% endblock content %}