{% extends "base.html" %}

{% block title %}
    {% if materia_list %}
        <title>{{materia_list.0.nombre}}</title>
    {% else %}
        <title>{{publicacion_list.0.materia.nombre}}</title>
    {% endif%}
{% endblock title %}

{% block content %}
{% if materia_list %}
    <div style="text-align: center; margin-top: 2rem;">
        <h3>{{materia_list.0.nombre}}</h3>
        <a> <a style="font-weight: bold;">Clave:</a> {{materia_list.0.clave}}</a> <br/>
        <a> <a style="font-weight: bold;">Departamento:</a> {{materia_list.0.departamento}}</a>
    </div>
    
    <div style="margin-top: 3rem;">
        <h4 style="text-align: center;"> Aun no hay profesores que imparten esta materia 😿</h4>
    </div>
{% else %}
    <div style="text-align: center; margin-top: 2rem;">
        <h3>{{publicacion_list.0.materia.nombre}}</h3>
        <a> <a style="font-weight: bold;">Clave:</a> {{publicacion_list.0.materia.clave}}</a> <br/>
        <a> <a style="font-weight: bold;">Departamento:</a> {{publicacion_list.0.materia.departamento}}</a>
    </div>
    <div style="margin-top: 3rem;">
        <h4 style="text-align: center;"> Profesores que la imparten</h4>
        {% for publicacion in publicacion_list %}    
        <section>
            <div class="container" style="margin-top: 1rem;">
                <div class="card text-center">
                    <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'publicacion:profesor' publicacion.profesor.id %}">{{publicacion.profesor}}</a></h5>
                </div>
            </div>
        </section>
        {% endfor %}
    </div>
{% endif%}
{% endblock content %}